---
import styles from "./styles.module.css";
---

<footer class={styles.footer}>
  <div class="container">
    <div class={styles.top}>
      <a href="#" class="footer__logo">
        <img src="/agroton/images/logo-black.png" alt="footer__logo" />
      </a>
      <div class="footer__element">
        <p class={styles["element-title"]}>Navigation</p>
        <ul class="footer__list">
          <li class={styles.item}>
            <a href="#" class="footer__link">About company</a>
          </li>

          <li class={styles.item}>
            <a href="#" class="footer__link">Products</a>
          </li>

          <li class={styles.item}>
            <a href="#" class="footer__link">Partners</a>
          </li>

          <li class={styles.item}>
            <a href="#" class="footer__link">Blog</a>
          </li>

          <li class={styles.item}>
            <a href="#" class="footer__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class={styles["element-title"]}>Information</p>
        <ul class="footer__list">
          <li class={styles.item}>
            <a href="#" class="footer__link">Customer Support</a>
          </li>

          <li class={styles.item}>
            <a href="#" class="footer__link">Delivery Details</a>
          </li>

          <li class={styles.item}>
            <a href="#" class="footer__link">Terms of cooperation</a>
          </li>

          <li class={styles.item}>
            <a href="#" class="footer__link">Guarantees</a>
          </li>
        </ul>
      </div>
      <div class="footer__element">
        <p class={styles["element-title"]}>Contacts</p>
        <ul class="footer__list">
          <li class={styles.item}>
            <address class={styles["item-adress"]}>
              Ukraine, Kyiv, ul. Ilyinskaya 8
            </address>
          </li>

          <li class={styles.item}>
            <a href="mailto:au.gl.notorga@ofni" class="footer__link"
              >au.gl.notorga@ofni</a
            >
          </li>

          <li class={styles.item}>
            <a href="tell:+380982563265" class="footer__link"
              >+380 98 256 32 65</a
            >
          </li>
        </ul>
      </div>
    </div>
    <ul class={styles.bottom}>
      <li class={styles["bottom-item"]}>
        <p class="footer__copy">2010 Agroton © All rights reserved.</p>
      </li>
      <li class={styles["bottom-item"]}>
        <a href="#">Privacy Policy</a>
      </li>
      <li class={styles["bottom-item"]}>
        <a href="#">Offer contract</a>
      </li>
    </ul>
  </div>
</footer>
