---
import styles from "./styles.module.css";
---

<nav class={styles.menu}>
  <button class={`${styles.btn} js-toggle`}>
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class={`${styles.list} js-menu`}>
    <li class="menu__item">
      <a href="#" class={styles.link}>About company</a>
    </li>
    <li class="menu__item">
      <a href="#" class={styles.link}>Products</a>
    </li>
    <li class="menu__item">
      <a href="#" class={styles.link}>Partners</a>
    </li>
    <li class="menu__item">
      <a href="#" class={styles.link}>Blog</a>
    </li>
    <li class="menu__item">
      <a href="#" class={styles.link}>Contact</a>
    </li>
  </ul>
</nav>

<style is:raw>
  .menu--active {
    transform: translateY(0);
    opacity: 1;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.querySelector(".js-toggle");
    const menu = document.querySelector(".js-menu");

    if (menuBtn && menu) {
      menuBtn.addEventListener("click", () => {
        menu.classList.toggle("menu--active");
      });
    }
  });
</script>
