---
import styles from "./styles.module.css";
---

<nav class="menu">
  <ul class={styles.list}>
    <li class="menu__item">
      <a href="#" class={styles.link}>About company</a>
    </li>
    <li class="menu__item">
      <a href="#" class={styles.link}>Products</a>
    </li>
    <li class="menu__item">
      <a href="#" class={styles.link}>Partners</a>
    </li>
    <li class="menu__item">
      <a href="#" class={styles.link}>Blog</a>
    </li>
    <li class="menu__item">
      <a href="#" class={styles.link}>Contact</a>
    </li>
  </ul>
</nav>
